<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width,initial-scale=1.0">
    <title>RedStore | Ecommerce Website</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel = "stylesheet" href = "../css/style.css">
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> 

    <div class = "header">
        <div class = "container">
            <div class = "navbar">
                <div class = "logo">
                    <img src = "../images/logo.png" width = "125px">
                </div>
                <nav>
                    <ul id = "MenuItems">
                        <div style="margin-top: 15px;">
                            <li>
                                <template id = "suggestionsTemplate">
                                    <% for (let i = 0; i < info.length; i++) { %>
                                        <option value = "<%=info[i].productName%>"></option>
                                    <% } %>
                                </template>
                                <div style = "margin-right: 11rem; margin-bottom: -40px; width: 15rem">
                                    <input type="text" id="search" placeholder="Search" list = "suggestions">
                                    <datalist id = "suggestions" class = "datalist"></datalist>
                                </div>
                            </li>
                            <li><a href = "/market/stocks">Stock Market</a></li>
                            <li><a href = "/market/transactions">Transactions</a></li>
                            <li><a href = "/market/supply">Your Products</a></li>
                            <li><a href = "/market/sell">Sell</a></li>
                            <li><a href = "/market/viewCart">Cart</a></li>
                            <li><a href = "/">Log Out</a></li>
                        </div>
                        <li><a href = "/registration/profile"><img src = "../images/<%=profile%>" padding-bottom = 40px" class = "nav-image"></a></li>
                    </ul>
                </nav>
                <img src = "../images/menu.png" class = "menu-icon"
                onclick = "menutoggle()">
            </div>
        </div>
    </div>


<!------------  featured products  ------------->

    <div class="small-container" id = "Products">
        <h2 class = "title">Featured Products</h2>
        <% for (var i = 0; i < info.length; i += 4) { %>
            <div class="row">
            <% for (var j = i; j < info.length && j < i + 4; j++) { %>
                <div class="col-4">
                    <div>
                        <a href = "/market/details?id=<%=info[j]._id%>"><img src = "../images/<%=info[j].image%>" width = "200px" height = "180px"></a>          
                    </div>
                    <div>
                        <a href = "/market/details?id=<%=info[j]._id%>"><%= info[j].productName %></a>
                    </div>
                    <% if (info[j].rating != null) { %>
                        <% var count = 0 %>
                        <% var rating = info[j].rating %>
                        <div class = "rating">
                        <% while (rating >= 1) { %>
                            <i class="fa fa-star"></i>
                            <% count++ %>
                            <% rating-- %>
                        <% } %>
                        
                        <% if (rating >= 0.5) { %>
                            <i class="fa fa-star-half-o"></i>
                            <% rating = 0 %>
                            <% count++ %>
                        <% } %>

                        <% for (let k = count; k < 5; k++) { %>
                            <i class="fa fa-star-o"></i>
                            <% count++ %>
                        <% } %> 
                        </div>
                    <% } %>
                    <div>
                        <a href = "/market/details?id=<%=info[j]._id%>"><%= info[j].price %>$</a>
                    </div>
                </div>
            <% } %>
            </div>
        <% } %>
    </div>

    <!------- footer --------->
    <!-- <div class = "footer">
        <div class="container">
            <hr>
            <p class = "copyright">Copyright 2022 - Joe Kanaan</p>
        </div>
    </div> -->

    <script>

        // JS for suggestion in the search bar
        var search = document.getElementById("search");
        var suggestions = document.getElementById("suggestions");
        var suggestionsTemplate = document.getElementById("suggestionsTemplate").content;
        search.addEventListener("click", function handler(event) {
            while (suggestions.children.length > 0) {
                suggestions.removeChild(suggestions.children[0]);
            }
            var input = new RegExp(search.value, "i");
            var clones = suggestionsTemplate.cloneNode(true);
            var set = Array.prototype.reduce.call(clones.children, function searchFilter(frag, el) {
                if (input.test(el.textContent)) frag.appendChild(el);
                return frag;
                }, document.createDocumentFragment());
            suggestions.appendChild(set);
        })

        // JS for the dynamic search
        $(document).ready(function(){
            $("#search").on("keyup", function(){
                // Clear all the products data
                $("#Products").empty();

                $.get(`getProducts`, {search: $("#search").val()}, function(data, status) {

                    $("#Products").append("<h2 class = 'title'>Featured Products</h2>")
                    for (var i = 0; i < data.length; i+=4) {
                            $("#Products").append(`<div class='row' id = 'row${i}'>`);
                            for (var j = i;  j < data.length && j < i + 4; j++) {
                                $(`#row${i}`).append(`<div class='col-4' id = 'col-4${j}'>`)
                                $(`#col-4${j}`).append(`
                                <div>
                                    <a href = "/market/details?id=${data[j]._id}">
                                    <img src = "../images/${data[j].image}" width = "200px" height = "180px"></a>
                                </div>
                                <div>
                                    <a href = "/market/details?id=${data[j]._id}">${data[j].productName}</a>
                                </div>`)

                                if (data[j].rating != null) {
                                    var count = 0
                                    var rating = data[j].rating
                                    $(`#col-4${j}`).append(`<div class = "rating" id = 'rating${j}'>`);
                                    while (rating >= 1) {
                                        $(`#rating${j}`).append(`<i class="fa fa-star">`);
                                        count++;
                                        rating--;
                                    }

                                    if (rating >= 0.5) {
                                        $(`#rating${j}`).append(`<i class="fa fa-star-half-o">`);
                                        rating = 0;
                                        count++;
                                    }

                                    for (let k = count; k < 5; k++) {
                                        $(`#rating${j}`).append(`<i class="fa fa-star-o">`);
                                        count++;
                                    }
                                    
                                    $(`#col-4${j}`).append(`</div>`);
                                }


                                $(`#col-4${j}`).append(`
                                <div>
                                    <a href = "/market/details?id=${data[j]._id}">${data[j].price}$</a>
                                </div>`);


                                $(`#row${i}`).append("</div>");
                            }
                            $("#Products").append("</div>");
                        }
                    
                });
            });
        });

    </script>

    <script src= "../script.js"></script>
    
</body>

</html>